# Environment variables
.env

# Compiled binaries
out
chirpy
*.exe

# Go-specific
*.test
*.prof

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.swp

# http test files
test.http